<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="shipping-title text-white">配送先の編集</h1>
	  <form class="text-white">
	  	  <div class="form-row">
		    <div class="col">
		        <label for="lastName">姓</label>
		      	<input type="text" class="form-control" id="lastName" placeholder="姓">
		    </div>
		    <div class="col">
		    	<label for="firstName">名</label>
		        <input type="text" class="form-control" id="firstName" placeholder="名">
		    </div>
  		  </div>
  		  <div class="form-row mt-4">
		    <div class="col">
		        <label for="lastName">姓(カナ)</label>
		      	<input type="text" class="form-control" id="lastNameKana" placeholder="姓(カナ)">
		    </div>
		    <div class="col">
		    	<label for="firstName">名(カナ)</label>
		        <input type="text" class="form-control" id="firstNameKana" placeholder="名(カナ)">
		    </div>
  		  </div>
		  <div class="form-row mt-4">
		    <div class="form-group col-md-6">
		      <label for="inputEmail4">Eメール</label>
		      <input type="email" class="form-control" id="inputEmail4" placeholder="Eメール">
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputPassword4">パスワード</label>
		      <input type="password" class="form-control" id="inputPassword4" placeholder="パスワード">
		    </div>
		  </div>
		  <div class="form-row mt-4">
		    <div class="form-group col-md-2">
		      <label for="inputZip">郵便番号</label>
		      <input type="text" class="form-control" id="inputZip" placeholder="000-0000">
		    </div>
		    <div class="form-group col-md-4">
		      <label for="inputState">都道府県</label>
		      <select id="inputState" class="form-control">
		        <option selected>選択...</option>
		        <option>...</option>
		      </select>
		    </div>
		    <div class="form-group col-md-6">
		      <label for="inputCity">市町村</label>
		      <input type="text" class="form-control" id="inputCity">
		    </div>
		  </div>
		  <div class="form-group mt-4">
		    <label for="inputAddress">番地・建物名</label>
		    <input type="text" class="form-control" id="inputAddress" placeholder="1丁目2番3号">
		  </div>
		  <div class="form-group mt-4">
		    <label for="phoneNumber">電話番号</label>
		    <input type="text" class="form-control" id="phoneNumber" placeholder="090-0000-0000">
		  </div>
		  <button type="submit" class="btn btn-success mb-5 mt-4">保存する</button>
	  </form>
    </div>
</main>