<div class="container">
  <div class="row">
  	<div class="col-lg-4" style="background-color: orange;"></div>
  	<div class="col-lg-8">
  	<table class="table table-striped">
              <tr>
                <th>Title</th>
                <th>Body</th>
              </tr>
              <tr>
              	<td>aaa</td>
              	<td>aaa</td>
              </tr>
          </table>
      </div>
  </div>
</div>
