<main>
	<div class="container-fluid">
	  <div class="text-white">
		<div class="row">
			<div class="col-md-5 offset-md-1">
		<h3 class="mypage-title">ユーザー情報</h3>
		<div class="form-group">
		 <label for="lastname">姓</label>
		   <input type="text" name="lastname" class="form-control-sm">
		</div>
		<div class="form-group">
		 <label for="firstname">名</label>
		   <input type="text" name="firstname" class="form-control-sm">
		</div>
		<div class="form-group">
		 <label for="lastname-kana">姓(カナ)</label>
		   <input type="text" name="lastname-kana" class="form-control-sm">
		</div>
		<div class="form-group">
		 <label for="firstname-kana">名(カナ)</label>
		   <input type="text" name="firstname-kana" class="form-control-sm">
		</div>
		<div class="form-group">
		 <label for="mail-adress">メールアドレス</label>
		   <input type="email" name="mail-adress" class="form-control-sm">
		</div>
		<div class="form-group">
		 <label for="phonenumber">電話番号</label>
		   <input type="tel" name="phonenumber" class="form-control-sm">
		</div>
		<div class="form-group">
		 <label for="address">住所</label>
		   <input type="text" name="address" class="form-control-lg">
		</div>
		<div class="form-group">
		 <label for="shipping-address">配送先</label>
		   <%= link_to "配送先の確認", shipping_address_index_path, class: "btn btn-success" %>
		</div>
	  </div>
		<div class="col-md-6">
			<h3 class="buy-history-title">購入履歴一覧</h3>
		<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>購入日</th>
			<th>シングル/アルバム名</th>
			<th>購入枚数</th>
			<th>小計</th>
			<th>ステータス</th>
		</tr>
	</thead>


	<tbody>
		<td>1月2日</td>
		<td>キセキ</td>
		<td>1枚</td>
		<td>1,919円</td>
		<td><%= %></td>
		</tbody>
  </table>
	</div>
	</div>
	<div class="row">
		<div class="col-md-3">
      <%= link_to "登録情報の編集", root_path, class: "btn btn-success" %>
		</div>
		<div class="col-md-3">
      <%= link_to "退会", root_path, class: "btn btn-danger" %>
		</div>
	</div>
</div>
 </div>
</main>
