<main>
	<div class="container">
		<div class="text-white">
			<div class="user-title">
			  <div class="row">
				<div class="col-md-4">
					<h4>ジャケット画像</h4>
					<div class="d-flex">
					<%= image_tag 'image.jpg', :size =>'100x100'%>
				    </div>
				</div>
				<div class="col-md-4">
					<h4>シフクノオト</h4>
					<h5>Mr.children<br>
					2000年代</h5>

					<p>値段：1,919円<br>
					   在庫数：有</p>
　　　　　　　　　　</div>
                <div class="col-md-4">
                	<h5>数量</h5>
                	<select class="form-control">
                    <option value="1" selected="selected">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
                    <button type="button" class="btn btn-success btn-enter">カートに入れる</button>
                </div>
                </div>
                <div class="row">
                	<div class="col text-center">
                		<table class="table table-bordered">
                			<tr>
                              <td>レーベル名</td>
                              <td>トイズファクトリー</td>
                            </tr>
                            <tr>
                              <td>ジャンル</td>
                              <td>J-pop</td>
                            </tr>
                            <tr>
                             <td>曲名</td>
                             <td>Disk1…</td>
                            </tr>
                		</table>
                	</div>
                </div>
			 </div>
		    </div>
		</div>
	</div>
</main>
