<main>
	<div class="container-fluid">
		<div class="text-white">
			<div class="row">
				<div class="col-md-2">
					<h5 class="period">年代で選ぶ</h5>
					<div class="form-group">
					<button type="button" class="btn-sm btn-primary">1980年代</button>
				   </div>
				   <div class="form-group">
					<button type="button" class="btn-sm btn-primary">1990年代</button>
				   </div>
				   <div class="form-group">
					<button type="button" class="btn-sm btn-primary">2000年代前半</button>
				   </div>
				   <div class="form-group">
					<button type="button" class="btn-sm btn-primary">2000年代後半</button>
				   </div>
				   <div class="form-group">
					<button type="button" class="btn-sm btn-primary">2010年代前半</button>
				   </div>
				   <div class="form-group">
					<button type="button" class="btn-sm btn-primary">2010年代後半</button>
				   </div>
				</div>
				<div class="col text-center">
				<h2 class="serch-title">検索条件,Mr.children</h2>
				<div class="input-group">
	　　　　　　　　<input type="text" class="form-control-lg" placeholder="検索フォーム">
	　　　　　　<span class="input-group-btn">
		　　　<button type="button" class="btn btn-warning">絞り込む</button>
	　　　　　</span>
	         </div>
	         <table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th></th>
			<th>アルバム名</th>
			<th>アーティスト名</th>
			<th>年代</th>
			<th>価格</th>
			<th>在庫</th>
		</tr>
	</thead>
    
    
	<tbody>
		<td>ジャケット画像</td>
		<td>HOME</td>
		<td>Mr.children</td>
		<td>2000年代</td>
		<td>1,919円</td>
		<td>有</td>
		</tbody>
  </table>
　　　　　　　</div>
  

			</div>
		</div>
		<div class="row">
			<div class="col text-left">
					   <h6 class="serch">名前で検索</h6>
				<div class="input-group">
	　　　　　　　　<input type="text" class="form-control-sm" placeholder="検索フォーム">
	　　　　　　<span class="input-group-btn">
		　　　<button type="button" class="btn btn-warning">Search</button>
	　　　　　</span>
				</div>
			</div>
		</div>
		</div>
	</div>
</main>
