
<div class="container">
	<div class="text-white">
		<div class="title">
				<h4>Song with memory</h4>
				<h4>あなたの思い出の曲が見つかる</h4>
				<h4>オンライン中古CDショップ</h4>
		</div>

			<div class= "subtitle">
				<h5>年代で探す</h5>
			</div>

		<div>
			<button type="button" class="btn btn-info year">1960年代</button>

			<button type="button" class="btn btn-info year">1970年代</button>

			<button type="button" class="btn btn-info year">1980年代</button>

			<button type="button" class="btn btn-info year">1990年代</button>
		</div>

		<div>
			<button type="button" class="btn btn-info year">2000年代</button>

			<button type="button" class="btn btn-info year">2010年代</button>
		</div>

		<div class= "subtitle">
				<h5>キーワードで探す</h5>
			</div>

<form class= "searchbox">
<input type="text">
<input type="submit" value="Search">
</form>

	</div>
</div>
