/* line 6, app/assets/stylesheets/admins/products.scss */
.admin-title {
  margin-top: 100px;
}

/* line 11, app/assets/stylesheets/admins/products.scss */
.container {
  width: auto;
  max-width: 1000px;
  padding: 0px 15px;
}
