<main>
	<div class="container">
		<div class="text-white">
			<h3 class="user-title">○○様情報</h3>
			<div class="row">
				 <div class="col-xs-2">
                    <div class="form-group">
                         <h4>名前</h4>
                       <input class="form-control-sm" type="text" readonly>
                    </div>
                    <div class="form-group">
                         <h4>名(カナ)</h4>
                       <input class="form-control-sm" type="text" readonly>
                    </div>
                    <div class="form-group">
                         <h4>郵便番号</h4>
                       <input class="form-control-sm" type="text" readonly>
                    </div>
                    <div class="form-group">
                         <h4>住所</h4>
                       <input class="form-control-lg" type="text" readonly>
                    </div>
                 </div>
                <div class="col-xs-4">
                	<div class="form-group">
                         <h4>電話番号</h4>
                       <input class="form-control-sm" type="text" readonly>
                    </div>
                    <div class="form-group">
                         <h4>メールアドレス</h4>
                       <input class="form-control-sm" type="text" readonly>
                    </div>
                    <div class="form-group">
                         <h4>パスワード</h4>
                       <input class="form-control-sm" type="text" readonly>
                    </div>
                	<button type="button" class="btn btn-primary">編集</button>
                    </div>
                </div>
                <h3>購入履歴一覧</h3>
                <div class="row">
                    <div class="col text-center">
                        <table class="table-bordered" >
        <tr>
            <td>購入日</td>
            <td>シングル/アルバム名</td>
            <td>購入枚数</td>
            <td>小計</td>
            <td>購入価格総計</td>
            <td>送付先</td>
            <td>ステータス</td>
        </tr>
        <tr>
            <td rowspan="2">1月6日</td>
            <td>HOME</td>
            <td>2枚</td>
            <td>1200円</td>
            <td rowspan="2">2200円</td>
            <td rowspan="2">東京区渋谷神泉</td>
            <td rowspan="2"><button type="button" class="btn btn-success btn-enter">準備中</button></td>
        </tr>
    </table>
           </div>
          </div>
            </div>
		</div>
	</div>
</main>