<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="shipping-title text-white">注文の確認</h1>
      <h5 class="text-white mt-5">商品</h5>
      <table class="table text-white">
		  <thead>
		    <tr>
		      <th scope="col"></th>
		      <th scope="col">商品名</th>
		      <th scope="col">アーティスト名</th>
		      <th scope="col">単価</th>
		      <th scope="col">数量</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>ジャケット画像</td>
		      <td>HOME</td>
		      <td>Mr.children</td>
		      <td>1900円</td>
		      <td>1</td>
		    </tr>
		    ...
		  </tbody>
	   </table>

	   <h5 class="text-white">配送先</h5>
	   <table class="table text-white">
		  <thead>
		    <tr>
		      <th scope="col">名前</th>
		      <th scope="col">郵便番号</th>
		      <th scope="col">住所</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>山田太郎</td>
		      <td>000-0000</td>
		      <td>千葉県浦安市</td>
		    </tr>
		    ...
		  </tbody>
	   </table>
	   <div class="d-flex flex-column">
		   <div class="float-left mt-3">
		   		<button type="button" class="btn btn-danger btn-lg">
		   			<a href="#" class="text-white">注文を確定する</a>
		   		</button>
		   </div>
		   <div class="float-left mt-5">
		   		<button type="button" class="btn btn-light">
		   			<a href="#" class="text-dark">戻る</a>
		   		</button>
		   </div>
	   </div>

    </div>
</main>