<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="shipping-title text-white">配送先の設定</h1>
      <h6 class="text-white mt-3">アカウントの登録住所に設定する　<input type="checkbox" value=""></h6>
      <table class="table text-white">
		  <thead>
		    <tr>
		      <th scope="col">名前</th>
		      <th scope="col">郵便番号</th>
		      <th scope="col">住所</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>山田太郎</td>
		      <td>000-0000</td>
		      <td>千葉県浦安市</td>
		      <td><input type="checkbox" value=""></td>
		    </tr>
		    ...
		  </tbody>
	   </table>
	   <div class="float-right">
	   		<button type="button" class="btn btn-success rounded-pill">
	   			<a href="#" class="text-white">配送先の追加</a>
	   		</button>
	   </div>
	   <div class="float-left mt-5">
	   		<button type="button" class="btn btn-light">
	   			<a href="#" class="text-dark">戻る</a>
	   		</button>
	   </div>
	   <div class="float-right mt-5">
	   		<button type="button" class="btn btn-warning">
	   			<a href="#" class="text-dark">注文の確認</a>
	   		</button>
	   </div>
    </div>
</main>