<main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="shipping-title text-white">注文が完了しました</h1>

	   <div class="float-left mt-5">
	   		<button type="button" class="btn btn-success rounded-pill">
	   			<a href="#" class="text-white">マイページで確認する</a>
	   		</button>
	   </div>
    </div>
</main>