// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.text-white{
	color: white;
}

.user-big{
	font-size: 17px;
}

.login-title {
	margin-top:50px;
	text-align: center;
}

.right{
	text-align: right;
}

.left{
	margin-left: 300px;
}

.little-left{
	margin-left: 200px;
}

.width{
	width: 100px;
}

.color-red{
	color:red;
}

.registration {
	margin-bottom:5px;
	text-align: center;
}

.center{
		text-align: center;
}

.gap-top{
	margin-top:10px;
}


.user-edit {
	margin-top:15px;
}

.user-mytitle {
	margin-top:100px;
}



.product_show{
	text-align:left;
}

.gender-width{
	width:180px;
}

.purchase history{
	margin-bottom: 150px;
}


.indent{
	text-indent: 2em;
}

.m-right{
	margin-right: 265px;
}

.m-left{
	margin-left: 0;
}

select .right {
	text-align: right;
}