



<td>
                            <div>
                            <span>
                                アーティスト名
                            </span>
                             <%= text_field :artist_id, class:"artist_name mt-4"%>
                             <%= submit "追加する", class:"btn btn-primary btn-enter text-white mb-4" %>
                            </div>
                        </td>