<div class="nested-fields form-inline">
  <div class="form-group">

    <%= f.label :song %>
    <%= f.number_field :song_number, min:1, max:99, class: "mr-2" %>
    <%= f.text_field :name %>
    <%= link_to_remove_association "削除", f %>
  </div>
</div>