<div class="container">
    <div class="admin-title">
         <h1 class="text-white">商品編集画面</h1>
   <div class="showitem text-white">
    <table>
        <tr>
            <td>アーティスト名</td>
            <td><input type="text" class="form-control artist mt-4"></td>
        </tr>
        <tr>
            <td>アルバム/シングル名</td>
            <td><input type="text" class="form-control title mt-4"></td>
        </tr>
        <tr>
            <td>ジャケット画像</td>
            <td><input type="text" class="form-control image mt-4"></td>
            <td><button type="button" class="btn btn-primary btn-enter mt-4">選択</button></td>
        </tr>
        <tr>
            <td>値段</td>
            <td><input type="text" class="form-control price mt-4"></td>
        </tr>
        <tr>
            <td>レーベル名</td>
            <td><input type="text" class="form-control label mt-4"></td>
        </tr>
        <tr>
            <td>ジャンル</td>
            <td><input type="text" class="form-control category mt-4"></td>
        </tr>
        <tr>
            <td>曲名</td>
            <td>Disk.1</td>
            <td><button type="button" class="btn btn-primary btn-enter">追加</button></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span>1.</span><input type="text" class="mt-4 ml-2"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span class="mt-4">2.</span><input type="text" class="mt-4 ml-2"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span class="mt-4">3.</span><input type="text" class="mt-4 ml-2"></td>
            <td><button type="button" class="btn btn-primary btn-enter mt-4">追加</button><button type="button" class="btn btn-danger btn-enter mt-4">削除</button></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Disc.2</td>
            <td><button type="button" class="btn btn-primary btn-enter">追加</button><button type="button" class="btn btn-danger btn-enter">削除</button></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><span class="mt-4">1.</span><input type="text" class="ml-2"></td>
        </tr>
        <tr>
            <td>在庫数</td>
            <td><input type="text" class="mt-4"></td>
        </tr>
    </table>
   </div>

<button type="button" class="btn btn-success btn-enter btn-block mt-4 mb-4">編集完了</button>

</div>
</div>