<main role="main" class="flex-shrink-0">
    <div class="container admin-title">
      <h1 class="product-index text-white">商品一覧</h1>

<input type="text" class="form-control keyword">
　　　<div>
          <select name="年代">
          <option value="period">年代</option>
          <option value="1860">1980年代前半</option>
          <option value="1860">1980年代後半</option>
          <option value="1860">1990年代前半</option>
          <option value="1860">1990年代後半</option>
          <option value="1860">2000年代前半</option>
          <option value="1860">2000年代後半</option>
          <option value="1860">2010年代後半</option>
          <option value="1860">2010年代後半</option>
            </select>

          <select name="レーベル名">
            <option value="aaaa">レーベル名</option>
            <option value="toys">トイズファクトリー</option>
            <option value="aaaa">あああああ</option>
            </select>
    </div>
    <div>
           <select name="ジャンル">
            <option value="toys">ジャンル</option>
            <option value="toys">トイズファクトリー</option>
            <option value="aaaa">あああああ</option>
            </select>

            <select name="在庫数">
            <option value="rest">在庫数</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            </select>

            <button type="button" class="btn btn-success btn-enter">絞り込み</button>
    </div>

    <table class="text-white table-bordered mt-5">
      <tr>
        <td>ジャケット画像</td>
        <td>シングル/アルバム名</td>
        <td>アーティスト名</td>
        <td>値段</td>
        <td>レーベル名</td>
        <td>ジャンル</td>
        <td>在庫数</td>
        <td>編集</td>
        <td>削除</td>
      </tr>
      <tr>
        <td>aa</td>
        <td>HOME</td>
        <td>Mr.children</td>
        <td>1919円</td>
        <td>トイズファクトリー</td>
        <td>J-pop</td>
        <td>3個</td>
        <td><button type="button" class="btn btn-primary btn-enter">編集</button></td>
        <td><button type="button" class="btn btn-danger btn-enter">削除</button></td>
      </tr>


    </table>



  </div>
</main>