<main role="main" class="flex-shrink-0">
    <div class="container admin-title">
      <h1 class="add-products text-white">商品追加</h1>
         <div class="addditem">
	<table class="condensed">
		<tr>
			<td class="text-white">年代</td>
			<td><select name="年代">
        	<option value="1860">1980年代前半</option>
        	<option value="1860">1980年代後半</option>
        	<option value="1860">1990年代前半</option>
        	<option value="1860">1990年代後半</option>
        	<option value="1860">2000年代前半</option>
        	<option value="1860">2000年代後半</option>
        	<option value="1860">2010年代後半</option>
        	<option value="1860">2010年代後半</option>
            </select></td>
        </tr>
        <tr>
        <td class="text-white">アーティスト</td>
			<td><select name="年代">
        	<option value="mrchildren">mr.children</option>
        	<option value="edsheeran">ed sheeran</option>
            </select></td>
        </tr>
        <tr>
            <td class="text-white">アルバム/シングル名</td>
            <td> <form><input type="text" class="form-control mt-4" id="title"></form></td>
        </tr>
        <tr>
            <td class="text-white">ジャケット画像</td>
            <td><input type="text" class="form-control mt-4" id="jacket_image"></td>
            <td><button type="button" class="btn btn-success text-white mt-4">選択</button></td>
        </tr>
        <tr>
            <td class="text-white">値段</td>
            <td> <input type="text" class="mt-4" id="price"><span class="text-white">円</span></td>
        </tr>
        <tr>
            <td class="text-white mt-4">レーベル名</td>
            <td><select name="レーベル名">
            <option value="toys">トイズファクトリー</option>
            <option value="aaaa">あああああ</option>
            </select></td>
        </tr>
        <tr>
            <td class="text-white mt-4">ジャンル</td>
            <td><select name="ジャンル">
            <option value="toys">トイズファクトリー</option>
            <option value="aaaa">あああああ</option>
            </select></td>
        </tr>
        <tr>
            <td class="text-white">曲名</td>
            <td class="text-white">Disk 1</td>
            <td><button type="button" class="btn btn-success text-white">選択</button></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="text-white"><span>1.</span><input type="text" class="mt-4" id="song"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="text-white"><span>2.</span><input type="text" class="mt-4" id="song2"></td>
        </tr>
        <tr>
            <td class="text-white">在庫数</td>
            <td><input type="text" class="mt-4" id="title"><span class="text-white">枚</span></td>
        </tr>




    </table>

</div>

<button type="button" class="btn btn-primary btn-enter text-white mb-4">追加</button>

</div>
</main>
