<div class="container">
    <div class="admin-title">
         <h1 class="text-white">商品詳細画面</h1>
   <div class="showitem text-white">
	<table>
		<tr>
            <td>アーティスト名</td>
            <td>Mr.children</td>
        </tr>
        <tr>
            <td>アルバム/シングル名</td>
            <td>Home</td>
        </tr>
        <tr>
            <td>ジャケット画像</td>
            <td></td>
        </tr>
        <tr>
            <td>値段</td>
            <td>1919円</td>
        </tr>
        <tr>
            <td>レーベル名</td>
            <td>トイズファクトリー</td>
        </tr>
        <tr>
            <td>ジャンル</td>
            <td>J-pop</td>
        </tr>
        <tr>
            <td>曲名</td>
            <td>Disk1…</td>
        </tr>
        <tr>
            <td>在庫数</td>
            <td>10枚</td>
        </tr>
    </table>
   </div>

<button type="button" class="btn btn-success btn-enter">編集</button> <button type="button" class="btn btn-danger btn-enter">削除</button>

</div>
</div>