<div class= "container">
	<div class= "text-white">
		<div class= "top-title">
			<h3>管理者トップページ</h3>
		</div>
				<p>
					<%=	link_to "商品の追加",new_admins_product_path, class: "btn btn-primary btn-lg	btn-block admin-item"%>
				</p>

				<p>
					<%=	link_to "商品一覧",admins_products_path, class: "btn btn-primary btn-lg	btn-block admin-item"%>
				</p>

				<p>
					<%=	link_to "ユーザー一覧",admins_users_path, class: "btn btn-primary btn-lg	btn-block admin-item"%>
				</p>

				<p>
					<%=	link_to "購入履歴一覧",admins_orders_path, class: "btn btn-primary btn-lg	btn-block admin-item"%>
				</p>
	</div>
</div>

