<div class= "container">
	<div class= "text-white">
		<div class= "top-title">
			<h3>管理者トップページ</h3>
		</div>
				<p>
					<button type="button" class="btn btn-primary btn-lg	btn-block admin-item">商品の追加</button>
				</p>

				<p>
					<button type="button" class="btn btn-primary btn-lg btn-block admin-item">商品一覧</button>
				</p>

				<p>
					<button type="button" class="btn btn-primary btn-lg btn-block admin-item">ユーザー一覧</button>
				</p>

				<p>
					<button type="button" class="btn btn-primary btn-lg btn-block admin-item">購入履歴一覧</button>
				</p>
	</div>
</div>
