// Place all the styles related to the users/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.year{
	margin: 50px;
}

.title {
	margin-top:100px;
	text-align: center;
}

.subtitle{
	margin-top:50px;
	text-align: center;
	clear:left;
}

.searchbox {
	margin-bottom:50px;
	text-align: center;
}

.period_option {
	display: inline-block;
	float: left;
}

.paginate {
  margin: 100px auto 0;
  width:100px
}

.back{
	background-image: url(/images/memories2.jpg);
	background-size: cover;
}

.bg-toumei {
  background-color: rgba(0,0,0,0.8);
  margin-top: 150px;
}






