// Place all the styles related to the users/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.year{
	margin: 50px;
}

.title {
	margin-top:100px;
	text-align: center;
}

.subtitle{
	margin-top:50px;
	text-align: center;
	clear:left;
}

.searchbox {
	margin-bottom:50px;
	text-align: center;
}

.period_option {
	display: inline-block;
	float: left;
}

.paginate {
  margin: 10px auto;
  width:100px
}

.back{
	background-image: image-url("memories2.jpg");
	background-size: cover;
	height:600px;
}

.back-image{
  background-image: image-url("music3.jpg");
  background-size: cover;
  height:600px;
  position: relative;
  z-index: 0;
  overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/
}

.back-image:before{
  content: '';
  background: inherit;/*.bgImageで設定した背景画像を継承する*/
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;/*重なり順序を一番下にしておく*/
}




