<div class="container">
    <div class="admin-title">
         <h1 class="text-white">購入履歴一覧</h1>
   <div class="showitem text-white">
	<table class="table-bordered" >
		<tr>
            <td>購入者</td>
            <td>購入日</td>
            <td>シングル/アルバム名</td>
            <td>購入枚数</td>
            <td>小計</td>
            <td>購入価格総計</td>
            <td>送付先</td>
            <td>ステータス選択</td>
            <td>ステータス</td>
        </tr>
        <tr>
        	<td rowspan="2">佐藤花子</td>
        	<td rowspan="2">1月6日</td>
        	<td>Ambition</td>
        	<td>2枚</td>
        	<td>1200円</td>
        	<td rowspan="2">2200円</td>
        	<td rowspan="2">東京区渋谷神泉</td>
        	<td rowspan="2"><select name="ステータス">
        	<option value="willsend">準備中</option>
        	<option value="sending">配送中</option>
        	<option value="sent">配送済</option>
            </select></td>
            <td rowspan="2"><button type="button" class="btn btn-success btn-enter">準備中</button></td>
        </tr>
        <tr>
        	<td>DIVIDE</td>
        	<td>1枚</td>
        	<td>1000円</td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary btn-enter mt-4" align="right">ステータスを更新する</button>
</div>
</div>
</div>
