<footer class="footer mt-auto py-3">

      <p class="text-footer" >Love you Monster!! Thanks for amazing time and a lot of snack and making me laugh!<br>INOUE, ISHII, USUKI, ASAHI! Lucky to be in such a great team!!<br>Supecial Thanks, Everyone who have spent wonderful time with us at basement cafe! Love you all !!!!!</p>

       <%= image_tag('LOGOb.png', size: '250x35', class: "logo_image") %>

</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
