<footer class="footer mt-auto py-3">
      <p class="text-footer" >Love you Monster!! Thanks for amazing time and a lot of snack and making me laugh!<br>INOUE, ISHII, USUKI, ASAHI! Lucky to be in such a great team!!<br>Supecial Thanks, Everyone who have spent wonderful time with us at basement cafe! Love you all !!!!!</p>
       <image src="/images/LOGOb.png" alt="imgタグ" width="250" height="35" class= "logo_image">
</footer>