<footer class="footer mt-auto py-3">
      <p class="text-footer" >Love you Monster!! Thanks for amazing time and a lot of snack and making me laugh!<br>INOUE, ISHII, USUKI, ASAHI! Lucky to be in such a great team!!<br>Supecial Thanks, Everyone who have spent wonderful time with us at basement cafe! Love you all !!!!!</p>

       <%= image_tag('LOGOb.png', size: '250x35', class: "logo_image") %>
</footer>